<template>
  <div class="bottomMenu">
    <div class="part1">
      <img src="../assets/bottom01.png" alt="" />
    </div>

    <nav class="bottomNav">
      <span v-for="item in navArr" :key="item.path" @click="toPush(item.path)">
        {{ item.title }}
      </span>
      <!-- <span @click="toPush(0)">首页 </span>
      <span @click="toPush(1)">版权中心 </span>
      <span @click="toPush(2)">影视 </span>
      <span @click="toPush(3)">游戏 </span>
      <span @click="toPush(4)">漫画 </span>
      <span @click="toPush(5)">业务合作 </span>
      <span @click="toPush(6)">新闻中心</span>
      <span @click="toPush(7)">关于我们 </span> -->
    </nav>
    <div class="part2">
      <img src="../assets/bottom02.png" alt="" />
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      navArr: [
        { title: "首页", path: "/" },
        { title: "版权中心", path: "/copyrightCenter" },
        { title: "影视", path: "/moviesCenter" },
        { title: "游戏", path: "/gameCenter" },
        { title: "漫画", path: "/cartoonCenter" },
        { title: "业务合作", path: "/business" },
        { title: "新闻中心", path: "/news" },
        { title: "关于我们", path: "/aboutUs" },
      ],
      timer: null,
    };
  },
  mounted() {
    // 此处true需要加上，不加滚动事件可能绑定不成功
    // window.addEventListener("scroll", this.handleScroll, true);
  },
  methods: {
    toPush(path) {
      this.$router.push(path);
      console.log(111, document.documentElement.scrollTop);
      // window.scrollTo(0, 0);
      let top = document.documentElement.scrollTop || document.body.scrollTop;
      // 实现滚动效果
      const timeTop = setInterval(() => {
        document.body.scrollTop =
          document.documentElement.scrollTop =
          top -=
            50;
        if (top <= 0) {
          clearInterval(timeTop);
        }
      }, 10);
    },
  },
};
</script>
<style lang="scss">
.bottomMenu {
  background: #000;
  .part1 {
    background: #0056f7 !important;
    text-align: center;
    img {
      max-width: 1366px;
      min-width: 1280px;
    }
  }
  .part2 {
    text-align: center;
    img {
      max-width: 1366px;
      min-width: 1280px;
    }
  }
  img {
    width: 100%;
  }
  .bottomNav {
    color: #fff;
    text-align: center;
    margin: 40px 0;
    span {
      margin: 0 20px;
      cursor: pointer;
    }
  }
}
</style>