<template>
  <div class="nav">
       <el-menu
       :default-active="$route.path"
      class="el-menu-vertical-demo"
      @select="handleSelect"
      text-color="#fff"
      active-text-color="#ffd04b"
      :router="true"
      >
        <el-menu-item index="/newsAdmin">
            <i class="el-icon-s-order"></i>
            <span slot="title">新闻管理</span>
        </el-menu-item>
    </el-menu>
  </div>
</template>

<script>

export default {
  name: 'HelloWorld',
  data () {
    return {
        isChoose:null,
        index:null,
        activeIndex:"",
    }
  },
  watch:{
      $router(){
        //   this.handleSelect(this.activeIndex)
      },
  },
  created () {
  
  },

  methods:{
      handleSelect(index) {
        // this.activeIndex = index
      },
  },
  mounted () {
  },
  

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.nav{
    // .el-menu-item [class^=el-icon-]{
    //     font-size:40px;
    // }
    // .el-menu--collapse>.el-menu-item [class^=el-icon-], .el-menu--collapse>.el-submenu>.el-submenu__title [class^=el-icon-]{
    //     width: 40px
    // }
    // .el-menu-item:focus, .el-menu-item:hover{
    //     color: #000!important;
    // }
    .el-menu-item{
        padding-left: 15px!important;
        padding-right: 15px!important;
        color:rgb(64, 0, 128)!important;
    }
    .el-icon-s-order{
        color:rgb(64, 0, 128)
    }
    .el-menu-item [class^=el-icon-]{
       margin: 0;
    } 
    i{
        font-size: 22px;
    }
    .title{
        width: 100%;
        height: 100px;
        background: #87CEEB;
        line-height: 100px;
        font-size: 40px;
        font-weight: 500;
        color: #fff;
    }
   
}
.menuList{
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 500;
}

</style>
