<template>
  <div class="menu">
    <div class="max_1366">
      <div>
        <div class="logo">
          <img src="../assets/logo.png" alt="" />
        </div>
        <div class="nav">
          <ul>
            <li
              v-for="item in navArr"
              :key="item.path"
              :class="{ active: activePath === item.path }"
              @click="toPush(item.path)"
            >
              {{ item.title }}
            </li>
            <!-- <li @click="toPush('home')" class="active">首页</li>
        <li @click="toPush()">版权中心</li>
        <li @click="toPush('movies')">影视</li>
        <li @click="toPush('game')">游戏</li>
        <li @click="toPush('cartoon')">漫画</li>s
        <li @click="toPush('business')">业务合作</li>
        <li @click="toPush()">新闻中心</li>
        <li @click="toPush()">关于我们</li>
        <li @click="toPush()" class="lastNav">联系我们</li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "TopMenu",
  data() {
    return {
      navArr: [
        { title: "首页", path: "/" },
        { title: "版权中心", path: "/copyrightCenter" },
        { title: "影视", path: "/moviesCenter" },
        { title: "游戏", path: "/gameCenter" },
        { title: "漫画", path: "/cartoonCenter" },
        { title: "业务合作", path: "/business" },
        { title: "新闻中心", path: "/news" },
        { title: "关于我们", path: "/aboutUs" },
        { title: "联系我们", path: "/contactUs" },

        // "漫画",
        // "业务合作",
        // "新闻中心",
        // "关于我们",
        // "联系我们",
      ],
      // activePath: this.$route.path,
    };
  },
  computed: {
    activePath() {
      return this.$route.path;
    },
  },
  methods: {
    toPush(path) {
      this.$router.push(path);
      // this.activeIndex = flag;
      // if (this.activeIndex === 0) {
      //   this.$router.push("/");
      // } else if (this.activeIndex === 1) {
      //   this.$router.push("/copyrightCenter");
      // } else if (this.activeIndex === 2) {
      //   this.$router.push("/moviesCenter");
      // } else if (this.activeIndex === 3) {
      //   this.$router.push("/gameCenter");
      // } else if (this.activeIndex === 4) {
      //   this.$router.push("/cartoonCenter");
      // } else if (this.activeIndex === 5) {
      //   this.$router.push("/business");
      // } else if (this.activeIndex === 6) {
      //   this.$router.push("/news");
      // } else if (this.activeIndex === 7) {
      //   this.$router.push("/aboutUs");
      // } else if (this.activeIndex === 8) {
      //   this.$router.push("/contactUs");
      // }
    },
  },
};
</script>
<style lang="scss">
.menu {
  min-width: 1280px;
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 9;
  .logo {
    width: 100px;
    float: left;
    margin-left: 60px;
    margin-top: 32px;
    img {
      width: 100%;
    }
  }
  .nav {
    float: right;
    margin-right: 0;
    text-align: right;
    margin-top: 32px;
    margin-left: 60px;
    ul {
      li {
        font-size: 16px;
        // line-height: 1.5;
        list-style: none;
        float: left;
        color: #fff;
        cursor: pointer;
        padding: 2px 18px;
        margin-right: 18px;
      }
      li:hover {
        padding: 2px 18px;
      }
      li:last-child {
        margin-left: 118px;
      }
    }
  }
  .active {
    background: #0155fc;
    color: #fff;
    border-radius: 180px;
  }
}
</style>