<template>
  <div class="aboutUs">
    <!-- <TopMenu /> -->
    <img
      class=""
      style="height: 600px; object-fit: cover"
      src="../assets/aboutUsBannar.png"
      alt=""
    />
    <div class="max_1366">
      <div>
        <el-row :gutter="24" class="abuoutUsContainer">
          <el-col :span="10">
            <div class="aboutTitle">
              品牌故事
              <span
                style="
                  color: #d6d6d6;
                  margin-left: 20px;
                  font-size: 28px;
                  font-weight: 600;
                "
              >
                BRAND STORY</span
              >
            </div>
            <img
              style="
                width: 50%;
                margin-left: 25%;
                margin-top: 40%;
                text-align: center;
              "
              src="../assets/aboutUsBg01.png"
              alt=""
            />
          </el-col>
          <el-col :span="14">
            <!-- <img
              style="
                width: 30px;
                position: absolute;
                margin-left: -50px;
                margin-top: 10px;
              "
              src="../assets/aboutUsBg02.png"
              alt=""
            /> -->
            <div
              style="
                text-align: right;
                color: #0055f6;
                font-size: 30px;
                font-weight: 600;
                margin-bottom: 90px;
              "
            >
              故事点亮生活序章
            </div>
            <!-- <p style="color: #0055f6; font-size: 20px !important;margin-top:60px; "></p> -->
            <p>
              涓涓细流汇成大海，平凡脚步走完伟大一生，点点繁星也终将连成一片闪耀星河。莎士比亚在《暴风雨》中写到"What's
              past is
              prologue"，意为"凡是过往，皆为序章"，“序章"是写在文章前面的话，不是正文，是生活的开端，是一条溪流，一个脚印，一点繁星是书写一篇故事的引入，是对过往的讲述。鸿蒙初始，混沌一片，天地未开道生盘古，盘古开天，永垂不朽，满足人们内心对天地由来的想象是天地之序。
            </p>
            <p style="margin-top: 30px">
              女娲补天，淬炼五彩石，泥石造人，这是人们为人类由来赋予的又一美好想象是人类之序。三侠五义包公判案，平反冤案白玉堂仗义疏财，为国为民打造出人们心中的侠义英雄形象是侠义之序。
            </p>
            <p style="margin-top: 30px">
              古有嫦娥奔月，今有中国飞天第一人杨利伟，当五星红旗飘扬在宇审空间，预示着中国的飞天梦正逐步实现，也是人们探索宇宙的一个大跃步是飞天之序。从古至今，我们为自己书写了一个又一个的序章，编织了一个又一个的故事，实现了一个又一个的梦想，世界在进步，我们的故事也越发精彩，它不再只是文字，它可以是动漫、影像、游戏。换种方式，以熟悉而崭新的口吻继续为大家讲述着属于我们的故事。
            </p>
            <p style="margin-top: 30px">
              用故事点亮生活序章，他用故事再一次让人们以崭新的视角认识这个世界，认识属于星阅辰石的故事，不止是序.而是全部的精彩，属于星阅辰石的一片闪耀星际。
            </p>

            <!-- <img src="../assets/aboutUsBannar.png" alt="" /> -->
          </el-col>
          <el-col :span="24" class="history">
            <div class="aboutTitle">企业历程</div>
            <img src="../assets/history.png" alt="" />
          </el-col>
        </el-row>
        <div class="partner">
          <el-row :gutter="24" class="borderTop">
            <el-col :span="8">
              <div class="aboutTitle" style="padding: 30px 0">合作伙伴</div>
            </el-col>
            <el-col :span="16">
              <img src="../assets/parner.png" alt="" />
              <!-- <div class="partnerImg" v-for="item in imgArr" :key="item.index">
                <img :src="item" />
              </div> -->
            </el-col>
          </el-row>
        </div>
      </div>
    </div>

    <!-- <BottomMenu /> -->
  </div>
</template>
<script>
import TopMenu from "../components/topMenu.vue";
import BottomMenu from "../components/bottomMenu.vue";
export default {
  name: "AboutUs",
  components: {
    TopMenu,
    BottomMenu,
  },
  data() {
    return {
      imgArr: [
        require("../assets/logo01.png"),
        require("../assets/logo02.png"),
        require("../assets/logo03.png"),
        require("../assets/logo04.png"),
        require("../assets/logo05.png"),
        require("../assets/logo06.png"),
        require("../assets/logo07.png"),
        require("../assets/logo08.png"),
        require("../assets/logo09.png"),
        require("../assets/logo10.png"),
        require("../assets/logo11.png"),
        require("../assets/logo12.png"),
        require("../assets/logo13.png"),
        require("../assets/logo15.png"),
        require("../assets/logo16.png"),
        require("../assets/logo17.png"),
        require("../assets/logo18.png"),
        require("../assets/logo19.png"),
        require("../assets/logo20.png"),
        require("../assets/logo21.png"),
        require("../assets/logo22.png"),
        require("../assets/logo23.png"),
        require("../assets/logo24.png"),
        require("../assets/logo25.png"),
        require("../assets/logo26.png"),
      ],
    };
  },
  methods: {},
  mounted() {},
};
</script>
<style lang="scss">
.aboutUs {
  .partner {
    padding: 0px 60px 30px;
    overflow: hidden;
    .borderTop {
      border-top: 1px solid #c0c0c0;
      padding-top: 64px;
      margin-bottom: 64px;
    }
    .partnerImg {
      width: 15%;
      margin-right: 5%;
      float: left;
      margin-bottom: 30px;
      text-align: center;
      height: 60px;
      img {
        max-height: 60px;
        max-width: 100%;
        // height: 100%;
        width: auto;
        line-height: 62px;
        cursor: pointer;
      }
    }
  }
  .abuoutUsContainer {
    padding: 64px 60px 64px;
    p {
      font-size: 14px !important;
      line-height: 2 !important;
    }
    // img {
    //   // margin-top: 40px;
    // }
  }
  img {
    width: 100%;
  }
  .history {
    margin-top: 64px;
    border-top: 1px solid #c0c0c0;
    .aboutTitle {
      padding: 60px 0 !important;
    }
  }
  .aboutTitle {
    // padding: 30px 0;
    color: #666;
    font-size: 28px;
    font-weight: 600;
  }
}
</style>