<template>
  <div class="business">
    <!-- <TopMenu /> -->
    <el-carousel :height="imgHeight + 'px'" trigger="click">
      <el-carousel-item v-for="(item, index) in imgurl" :key="index">
        <img
          ref="image"
          style="width: 100%; height: 100%; object-fit: cover"
          :src="item"
          alt=""
        />
      </el-carousel-item>
    </el-carousel>
    <div class="max_1366">
      <div>
        <div class="businessTitle">
          <h1>业务合作</h1>
        </div>
        <div class="smartTitle">
          <div class="name">IP交易</div>
          <div class="center img_one">
            <img src="../assets/bussiness01.png" alt="" />
          </div>
          <div class="img_two">
            <img src="../assets/bussiness02.png" alt="" />
            <p>
              <span>筛选IP</span>
              <span>确定意向</span>
              <span>溯源确权</span>
              <span>IP交易</span>
              <span>设计监修</span>
              <span>交易完成</span>
            </p>
          </div>
          <div class="name" style="margin-top: 60px">IP授权</div>
          <div class="center img_one">
            <img src="../assets/bussiness03.png" alt="" />
          </div>
          <div class="img_two">
            <img src="../assets/bussiness04.png" alt="" />
            <p>
              <span>筛选IP</span>
              <span>确定意向</span>
              <span>溯源确权</span>
              <span>授权模式</span>
              <span>设计监修</span>
              <span>授权完成</span>
            </p>
          </div>
          <div class="name" style="margin-top: 60px">IP开发</div>
          <div class="center img_one">
            <img src="../assets/bussiness05.png" alt="" />
          </div>
          <div class="img_two">
            <img src="../assets/bussiness06.png" alt="" />
            <p>
              <span>合作BP</span>
              <span>溯源确权</span>
              <span>权责划分</span>
              <span>达成意向</span>
              <span>签约合作</span>
              <span>推进开发</span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- <BottomMenu /> -->
  </div>
</template>
<script>
import TopMenu from "../components/topMenu.vue";
import BottomMenu from "../components/bottomMenu.vue";
export default {
  components: {
    TopMenu,
    BottomMenu,
  },
  data() {
    return {
      imgurl: [
        require("../assets/businessBannar01.png"),
        // require("../assets/businessBannar01.png"),
        // require("../assets/businessBannar01.png"),
      ],
      imgHeight: "",
    };
  },
  methods: {
    imgLoad() {
      this.$nextTick(function () {
        //  let clientWidth=''
        // if(document.body.clientWidth<1280){
        //   clientWidth=1280
        // }else{
        //   clientWidth=document.body.clientWidth
        // }
        // // 获取窗口宽度*图片的比例，定义页面初始的轮播图高度
        // this.imgHeight = clientWidth / 2.54;
        this.imgHeight = 600;
      });
    },
  },
  mounted() {
    this.imgLoad();
    // 监听窗口变化，使得轮播图高度自适应图片高度
    window.addEventListener("resize", () => {
      this.imgLoad();
      //   this.imgHeight = this.$refs.image[0].height;
    });
  },
};
</script>
<style lang="scss">
.business {
  .businessTitle {
    padding: 64px 60px 58px 60px;
  }
  .smartTitle {
    padding: 0 60px;
    line-height: 40px;
    margin-bottom: 50px;
    .name {
      background: #0256f6;
      height: 40px;
      font-size: 18px;
      color: #fff;
      padding-left: 40px;
    }
    .img_one {
      padding: 50px 0 0 0;
      background: #F3F7FF;
      img{
        width: 130px;
      }
    }
    .img_two {
      text-align: center;
      padding: 50px;
      background: #f4f7ff;
      img {
        width: 88%;
      }
      p {
        //   line-height: ;
        margin-top: 30px;
        text-align: center;
        span {
          width: 16.1%;
          display: inline-block;
        }
      }
    }
  }
}
</style>