<template>
  <div class="gameCenter">
    <!-- <TopMenu /> -->
    <el-carousel :height="imgHeight + 'px'" trigger="click">
      <el-carousel-item v-for="(item, index) in imgurl" :key="index">
        <img ref="image" style="width: 100%; height: 100%; object-fit: cover" :src="item" alt="" />
      </el-carousel-item>
    </el-carousel>
    <div class="max_1366">
      <div>
        <div class="gameTitle">
          <h1>漫画中心</h1>
        </div>
        <el-row :gutter="24" class="cartoonContainer">
          <el-col :span="8">
            <img src="../assets/cartoon_one.png" alt="" />
            <div class="cartoonCard">
              <h1>那年那兔那些事儿</h1>
              <h3 class="cartoonTitle"></h3>
              <p class="cartoonContent">
                浩瀚的宇宙中有一颗美丽的蓝色星球，星球上耸立着古老的国度种花家，这片土地上的人民以炎黄子孙自称。经历五千年的繁荣，种花家开始衰落，毛熊和脚盆鸡等列强决定分这个国度，为了保卫自己的国土，兔子们前赴后继顽强拼搏，在复兴种花家的道路上前进着..
              </p>
              <p class="annotationText">
                热血/历史/军事 <span>地区</span> <span>中国大陆</span>
                <el-button @click="moreCartoonOne()">阅读漫画</el-button>
              </p>
            </div>
          </el-col>
          <el-col :span="8">
            <img src="../assets/cartoon_two.png" alt="" />
            <div class="cartoonCard">
              <h1>遮天</h1>
              <h3 class="cartoonTitle"></h3>
              <p class="cartoonContent">
                叶凡原是一个平凡的普通人，因缘巧合被九龙拉棺带到北斗星域，从此踏上证道之旅，辗转多年，他斗圣地世家，战太古生物，闯星空古路，阻黑暗动乱，重立天庭，最终以力证道，打破了圣体不可成帝的诅咒。
              </p>
              <p class="annotationText">
                玄幻/仙侠 <span>地区</span> <span>中国大陆</span>
                <el-button>阅读漫画</el-button>
              </p>
            </div>
          </el-col>
          <el-col :span="8">
            <img src="../assets/cartoon_three.png" alt="" />
            <div class="cartoonCard">
              <h1>青帝传</h1>
              <h3 class="cartoonTitle">
                
              </h3>
              <p class="cartoonContent">
                遥远的北斗星域，神物“混沌青莲”被大战余威冲入地球，与考古队员万青身体融合，自此侵夺七魄，传承仙器，聚力化形，逆战伐仙，镇邪平乱，终成大帝，青帝开启了他可堪传奇的一生...
              </p>
              <p class="annotationText">
                玄幻/仙侠 <span>地区</span> <span>中国大陆</span>
                <el-button @click="moreCartoonThree()">阅读漫画</el-button>
              </p>
            </div>
          </el-col>
        </el-row>
      </div>
    </div>

    <!-- <BottomMenu /> -->
  </div>
</template>
<script>
import TopMenu from "../components/topMenu.vue";
import BottomMenu from "../components/bottomMenu.vue";
export default {
  components: {
    TopMenu,
    BottomMenu,
  },
  data() {
    return {
      imgurl: [
        require("../assets/cartoonBannar01.png"),
        // require("../assets/cartoonBannar02.png"),
        require("../assets/cartoonBannar03.png"),
      ],
      imgHeight: "",
    };
  },
  methods: {
    moreCartoonOne() {
      window.open("https://www.u17.com/comic/38640.html", "_blank");
    },
    moreCartoonThree() {
      window.open("https://ac.qq.com/Comic/comicInfo/id/646227", "_blank");
    },
    imgLoad() {
      this.$nextTick(function () {
        this.imgHeight = 600;
        // 获取窗口宽度*图片的比例，定义页面初始的轮播图高度
        // let clientWidth = "";
        // if (document.body.clientWidth < 1280) {
        //   clientWidth = 1280;
        // } else {
        //   clientWidth = document.body.clientWidth;
        // }
        // this.imgHeight = clientWidth / 2.54;
      });
    },
  },
  mounted() {
    this.imgLoad();
    // 监听窗口变化，使得轮播图高度自适应图片高度
    window.addEventListener("resize", () => {
      this.imgLoad();
      //   this.imgHeight = this.$refs.image[0].height;
    });
  },
};
</script>
<style lang="scss">
.gameCenter {
  .gameTitle {
    padding: 64px 60px 58px 60px;
  }
  .cartoonContainer {
    padding: 0 48px;
    margin-bottom: 106px;
    img {
      width: 100%;
    }
    .imgBg {
      opacity: 0.5;
      // position: absolute;
    }
    .cartoonCard {
      background: #f3f7ff;
      padding: 20px;
      .cartoonTitle {
       border-top: 1px solid #ddd;
        padding-top: 10px;
        // font-size: 18px;
        // font-weight: bold;
        // overflow: hidden;
        // text-overflow: ellipsis;
        // display: -webkit-box;
        // -webkit-line-clamp: 2;
        // -webkit-box-orient: vertical;
        // min-height: 60px;
      }
      .cartoonContent {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        min-height: 100px;
      }
      .annotationText {
        overflow: hidden;
        margin: 30px 0;
        line-height: 34px;
        button {
          float: right;
          background: #00def5;
          color: #fff;
          font-size: 12px;
          border-radius: 180px;
          padding: 10px 24px;
        }
      }
    }
  }
}
</style>