<template>
  <div class="contactUs">
    <div>
      <img
        style="height: 600px; object-fit: cover"
        class=""
        src="../assets/contactUs.png"
        alt=""
      />
      <div class="max_1366">
        <div class="contactDetail">
          <el-row :gutter="24" class="container">
            <el-col :span="6">
              <h1 class="contacTitle">联系我们</h1>
            </el-col>
            <el-col :span="9">
              <div class="address">地址</div>
              <div class="detail">
                6/F，E3-1，TIANFU SOFTWARE PARK, HIGH TECH ZONE,CHENGDU
                <br />成都市高新区天府软件园E3-1，6层
              </div>
              <div class="email">邮箱</div>
              <div class="detail">
                工作联系邮箱：work@sinyeegame.com
                <br />HR招聘邮箱：Recruit-HR@sinyeegame.com
              </div>
              <div class="del">电话</div>
              <div class="detail">028-8627 3670</div>
              <div class="codeContent">
                <div class="part">
                  <img
                    style="width: 130px; height: 130px"
                    src="../assets/code.png"
                    alt=""
                  />
                  <p class="annotationText" style="letter-spacing: 2.5px">扫码关注官方微信</p>
                </div>
                <div class="part">
                  <img
                    style="width: 130px; height: 130px"
                    src="../assets/weiboCode.png"
                    alt=""
                  />
                  <p class="annotationText" style="letter-spacing: 2.5px">
                    扫码关注官方微博
                  </p>
                </div>
              </div>
            </el-col>
            <el-col :span="9">
              <div class="mapContent">
                <div>
                  <el-amap :center="center" :zoom="zoom" id="container">
                    <el-amap-marker
                      :position="center"
                      :label="label"
                    ></el-amap-marker>
                  </el-amap>
                </div>
                <!-- <div>
                  <img class="" src="../assets/map.png" alt="" />
                </div> -->
                <!-- <iframe width="700px" height="550"></iframe> -->
              </div>
            </el-col>
          </el-row>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      center: [104.06848569128798, 30.538568166726936],
      zoom: 15,
      label: {
        content: "",
        offset: [10, 12],
      },
    };
  },
  methods: {
    // 初始化地图
    initMap(map) {
      var map = new AMap.Map("container", {
        zoomEnable: true, //是否禁止缩放
        zoom: 12, //缩放比例
        dragEnable: false, //禁止拖动
        cursor: "hand", // 鼠标在地图上的表现形式，小手
      });
      // 初始化工具条
      map.plugin(["AMap.ToolBar"], function () {
        map.addControl(new AMap.ToolBar());
      });
    },
  },
};
</script>
<style lang="scss">
.contactUs {
  .container {
    padding: 64px 60px;
    .address,
    .del,
    .email {
      font-size: 22px;
      margin-bottom: 30px;
    }
    .detail {
      line-height: 1.5;
      font-size: 18px;
      margin-bottom: 45px;
    }
    .codeContent {
      overflow: hidden;
      .part {
        width: 50%;
        float: left;
      }
      p {
        margin-top: 10px;
        // letter-spacing: 1.5px;
      }
    }
    .mapContent {
      height: 100%;
      margin-top: 80%;
    }
  }
  img {
    width: 100%;
  }
  .contactDetail {
    min-width: 1280px;
  }
  #container {
    height: 300px;
    width: 100%;
  }
}
</style>