<template>
  <div class="copyright">
    <div
      @mouseover="addActive($event)"
      @mouseout="removeActive($event)"
      :class="{ copyActive: flag }"
    >
      <div class="partOne">
        <img @click="showContent" src="../assets/copyright01.png" alt="" />
      </div>
      <div class="showMore" v-show="contentFlag" @click="showContent">
        <img src="../assets/show.png" alt="" />
      </div>
      <div class="partContent" v-show="!contentFlag">
        <div class="copyrightTitle">作 品 相 关 信 息</div>
        <!-- <div class="imgGroup">
          <img src="../assets/zhetian01.png" alt="" />
          <img src="../assets/zhetian02.png" alt="" />
          <img src="../assets/zhetian03.png" alt="" />
          <img src="../assets/zhetian04.png" alt="" />
        </div> -->

        <div class="intro">
          <div class="left">
            <span>A</span>
            <span>U</span>
            <span>T</span>
            <span>H</span>
            <span>O</span>
            <span>R</span>
          </div>
          <div class="right">
            <div class="introTitle">
              <span>作者简介</span>
              <img src="../assets/copyIcon02.png" alt="" />
            </div>
            <div class="name">
              辰东 - 当代网络小说界最具影响力和代表性的写手之一
            </div>
            <div class="introTitle">
              <span>代表作品</span>
            </div>
            <div class="representativeWork">
              <p style="margin-left: -9px; padding: 30px 0">
                《遮天》《完美世界》《圣墟》《深空彼岸》《神墓》《长生界》
              </p>
            </div>
            <div class="introTitle">
              <span>个人荣誉</span>
            </div>
            <!-- <div class="honor">
              <img src="../assets/honor_left.png" alt="" />
              <span>个人荣誉</span>
              <img src="../assets/honor_right.png" alt="" />
            </div> -->
            <div class="contentOne">
              <div class="detail">
                <p>起点中文网白金作者，中国作协成员</p>
                <p style="margin-left: -9px">
                  《遮天》《完美世界》《圣墟》《神墓》四部作品登顶百度小说风云榜首位
                </p>
                <p style="margin-left: -9px">
                  《圣墟》获评2018年度胡润原创文学IP价值榜top10、2019年度十佳网络小说
                </p>
                <p>2014年 网络作家收入排行榜第二位</p>
                <p>2016年 首届“网文之王”五大至尊之首</p>
                <p>2018年 超级IP风云盛典 超级IP成就作家</p>
                <p>
                  橙瓜见证·网络文学20年十大玄幻作家，百强大神作者，百位行业人物
                </p>
              </div>
              <!-- <div class="detail">
                <span>起点中文网白金作者，中国作协成员</span>
                <span
                  >《遮天》《完美世界》《圣墟》《神墓》四部作品登顶百度小说风云榜首位</span
                >
              </div> -->
            </div>
            <!-- <div class="contentOne">
              <div class="detail">
                <span>2014年 网络作家收入排行榜第二位</span>
                <span
                  >《圣墟》获评2018年度胡润原创文学IP价值榜top10、2019年度十佳网络小说</span
                >
              </div>
            </div> -->
            <!-- <div class="contentOne">
              <div class="detail">
                <span>2016年 首届“网文之王”五大至尊之首</span>
                <span style="margin-left: 9px">
                  橙瓜见证·网络文学20年十大玄幻作家，百强大神作者，百位行业人物</span
                >
              </div>
            </div> -->
            <!-- <div class="contentTwo">
              <span>2018年 超级IP风云盛典 超级IP成就作家</span>
            </div> -->
          </div>
          <!-- <div class="honorBg">
            <img src="../assets/honor_bg.png" alt="" />
          </div> -->
        </div>
        <div class="works">
          <div class="left">
            <span>O</span>
            <span>V</span>
            <span>E</span>
            <span>R</span>
            <span>V</span>
            <span>I</span>
            <span>E</span>
            <span>W</span>
          </div>
          <div class="right">
            <div class="introTitle">
              <span>作品概述</span>
              <img src="../assets/copyIcon02.png" alt="" />
            </div>
            <div class="name">长篇玄幻小说扛鼎之作</div>
            <p>连续23周百度小说榜首位 起点中文网746周推荐</p>
            <p>十年屡次霸榜百度沸点 全网点击量破亿</p>
          </div>
        </div>
        <div class="story">
          <div class="left">
            <span>I</span>
            <span>N</span>
            <span>T</span>
            <span>R</span>
            <span>O</span>
            <span>D</span>
            <span>U</span>
            <span>C</span>
            <span>T</span>
            <span>I</span>
            <span>O</span>
            <span>N</span>
          </div>
          <div class="right">
            <div class="introTitle">
              <span>故事简介</span>
              <img src="../assets/copyIcon02.png" alt="" />
            </div>
            <div class="name"></div>
            <p style="line-height: 2">
              《遮天》小说主人公叶凡初为地球上的普通人，因缘巧合被九龙辣棺带到北斗星域，从此走上证道之路。在北斗他得知自己是荒古圣体，历险禁地，习得源术，斗圣地世家，战太古生物，闯星空古路，阻黑暗动乱，重立天......
            </p>
          </div>
        </div>
        <div class="works">
          <div class="left">
            <span>P</span>
            <span>O</span>
            <span>P</span>
            <span>U</span>
            <span>L</span>
            <span>A</span>
            <span>C</span>
            <span>H</span>
            <span>A</span>
            <span>R</span>
            <span>A</span>
            <span>C</span>
            <span>T</span>
            <span>E</span>
            <span>R</span>
            <span>S</span>
          </div>
          <div class="right">
            <div class="introTitle">
              <span>人气角色</span>
              <img src="../assets/copyIcon02.png" alt="" />
            </div>
            <img
              style="width: 70%; margin-left: 15%"
              src="../assets/popular.png"
              alt=""
            />
          </div>
        </div>
        <div class="hiddenMore" @click="showContent" v-show="!contentFlag">
          <img src="../assets/show.png" alt="" />
        </div>
      </div>
    </div>
    <div
      class="partOne"
      @mouseover="addActive($event)"
      @mouseout="removeActive($event)"
    >
      <img @click="showContentTwo" src="../assets/copyright02.png" alt="" />
      <div class="showMore" v-show="contentFlagTwo" @click="showContentTwo">
        <img src="../assets/show.png" alt="" />
      </div>
      <div class="partContent" v-show="!contentFlagTwo">
        <div class="copyrightTitle">作 品 相 关 信 息</div>
        <!-- <div class="imgGroup">
          <img src="../assets/qing01.png" alt="" />
          <img src="../assets/qing02.png" alt="" />
          <img src="../assets/qing03.png" alt="" />
          <img src="../assets/qing04.png" alt="" />
        </div> -->
        <div class="intro">
          <div class="left">
            <span>A</span>
            <span>U</span>
            <span>T</span>
            <span>H</span>
            <span>O</span>
            <span>R</span>
          </div>
          <div class="right">
            <div class="introTitle">
              <span>作者简介</span>
              <img src="../assets/copyIcon02.png" alt="" />
            </div>
            <div class="name">星阅辰石漫画自主开发团队</div>
            <div class="contentOne">
              <div class="detail">
                <p>高效高品质的IP开发、内容创制、衍生改编能力</p>
                <p>丰富的IP原创开发经验，曾参与多平台S级项目开发</p>
                <p>与阅文集团、吉比特、盖亚互动等多家公司达成战略合作</p>
                <!-- <span style="width: 400px">
                  高效高品质的IP开发、内容创制、衍生改编能力</span
                >
                <span> 丰富的IP原创开发经验，曾参与多平台S级项目开发</span> -->
              </div>
            </div>
            <!-- <div class="contentTwo">
              <span> 与阅文集团、吉比特、盖亚互动等多家公司达成战略合作</span> -->
            <!-- <div style="margin-top: 60px">
                <p>
                  核心主创人员曾参与《王者荣耀》、《剑与远程》、《阿列克谢外传》等SSS级项目IP改编；
                </p>
                <p>
                  核心主创人员曾参与《黑白无双》 《赤灵》
                  《魔兽剑圣异界纵横》等原创项目制作
                </p>
                <p>与阅文集团、吉比特、盖娅等多家公司达成战略合作</p>
                <p>能够独立实现高品质、高产能的内容开发</p>
              </div> -->
            <!-- </div> -->
          </div>
        </div>
        <div class="works">
          <div class="left">
            <span>O</span>
            <span>V</span>
            <span>E</span>
            <span>R</span>
            <span>V</span>
            <span>I</span>
            <span>E</span>
            <span>W</span>
          </div>
          <div class="right">
            <div class="introTitle">
              <span>作品概述</span>
              <img src="../assets/copyIcon02.png" alt="" />
            </div>
            <div class="name">首部基于遮天的衍生漫画作品</div>
            <p>
              由系列原作者起点白金作家辰东监制，国内领先的新文创内容提供商星阅辰石独立创作，目前
            </p>
            <p>
              已登陆国内外各大发行平台，截止到2021年，全网累积人气已突破30亿
            </p>
          </div>
        </div>
        <div class="story">
          <div class="left">
            <span>I</span>
            <span>N</span>
            <span>T</span>
            <span>R</span>
            <span>O</span>
            <span>D</span>
            <span>U</span>
            <span>C</span>
            <span>T</span>
            <span>I</span>
            <span>O</span>
            <span>N</span>
          </div>
          <div class="right">
            <div class="introTitle">
              <span>故事简介</span>
              <img src="../assets/copyIcon02.png" alt="" />
            </div>
            <p style="line-height: 2; margin-top: 30px">
              宇宙边荒的上古战场，青莲仙王力竭而亡，荒天帝将其送入轮回，在一片混沌中凝结成青莲种子，长出了万古唯一的混沌青莲。兜兜转转四万载，青莲降生地球，化身一个名为万青的少年。他跨过唐宋，历经民国，数百载容颜不变。为了探寻自身长生的奥秘，万青遍访古迹名山，终于在一片昆仑遗迹中响应了命运的呼唤，开启了星空彼岸的归途
            </p>
          </div>
        </div>
        <div class="works" style="padding-bottom: 0px">
          <div class="left">
            <span>P</span>
            <span>O</span>
            <span>P</span>
            <span>U</span>
            <span>L</span>
            <span>A</span>
            <span>C</span>
            <span>H</span>
            <span>A</span>
            <span>R</span>
            <span>A</span>
            <span>C</span>
            <span>T</span>
            <span>E</span>
            <span>R</span>
            <span>S</span>
          </div>
          <div class="right">
            <div class="introTitle">
              <span>人气角色</span>
              <img src="../assets/copyIcon02.png" alt="" />
            </div>
            <img src="../assets/popularTwo.png" alt="" />
          </div>
        </div>
        <div
          class="hiddenMore"
          @click="showContentTwo"
          v-show="!contentFlagTwo"
        >
          <img src="../assets/show.png" alt="" />
        </div>
      </div>
    </div>
    <div
      class="partOne"
      @mouseover="addActive($event)"
      @mouseout="removeActive($event)"
    >
      <img @click="showContentThree" src="../assets/copyright03.png" alt="" />
      <div class="showMore" v-show="contentFlagThree" @click="showContentThree">
        <img src="../assets/show.png" alt="" />
      </div>
      <div class="partContent" v-show="!contentFlagThree">
        <div class="copyrightTitle">作 品 相 关 信 息</div>
        <!-- <div class="imgGroup">
          <img src="../assets/natu01.png" alt="" />
          <img src="../assets/natu02.png" alt="" />
          <img src="../assets/natu03.png" alt="" />
          <img src="../assets/natu04.png" alt="" />
        </div> -->
        <div class="intro">
          <div class="left">
            <span>A</span>
            <span>U</span>
            <span>T</span>
            <span>H</span>
            <span>O</span>
            <span>R</span>
          </div>
          <div class="right">
            <div class="introTitle">
              <span>作者简介</span>
              <img src="../assets/copyIcon02.png" alt="" />
            </div>
            <div class="name">
              逆光飞行 （麻蛇）- 当代爱国漫画家代表 知名编剧
            </div>
            <div class="introTitle">
              <span>代表作品</span>
            </div>
            <div class="representativeWork">
              <p style="margin-left: -9px">
                《那年那兔那些事儿》漫画（连载至146话） 《风刃空械队》漫画
              </p>
              <p style="margin-left: -9px">
                《那年那兔那些事儿》动画（更新至第五季）
              </p>
            </div>
            <div class="introTitle">
              <span>个人荣誉</span>
            </div>
            <!-- <div class="honor">
              <img src="../assets/honor_left.png" alt="" />
              <span>个人荣誉</span>
              <img src="../assets/honor_right.png" alt="" />
            </div> -->
            <div class="contentOne">
              <div class="detail">
                <p>2016-2018年 获评“百名网络正能量榜样”</p>
                <p>
                  2018年 那年那兔那些事儿第四季入选中国二次元指数2017年最佳动画
                </p>
                <p>2019年 当选中国青少年新媒体协会常务理事</p>
                <p>
                  2019年 作品获评V+影响力 第一名、微博亚洲动漫榜最受欢迎热门IP
                </p>
                <p>2020年 当选13届全国青联委员</p>
                <p>作品连续 5个月获得新浪微漫画激励计划一等奖</p>
                <p>作品获评第二届微漫画大赛一等奖</p>
              </div>
            </div>
            <!-- <div class="contentOne">
              <div class="detail">
                <span style="width: 300px">作品获评第二届微漫画大赛一等奖</span>
                <span
                  >2018年
                  那年那兔那些事儿第四季入选中国二次元指数2017年最佳动画</span
                >
              </div>
            </div> -->
            <!-- <div class="contentOne">
              <div class="detail">
                <span style="width: 300px"
                  >2019年 当选中国青少年新媒体协会常务理事</span
                >
                <span
                  >2019年 作品获评V+影响力 第一名、微博亚洲动漫榜
                  最受欢迎热门IP</span
                >
              </div>
            </div> -->
            <!-- <div class="contentTwo">
              <span>2020年 当选13届全国青联委员</span>
            </div> -->
          </div>
          <!-- <div class="honorBg">
            <img src="../assets/honor_bg.png" alt="" />
          </div> -->
        </div>
        <div class="works">
          <div class="left">
            <span>O</span>
            <span>V</span>
            <span>E</span>
            <span>R</span>
            <span>V</span>
            <span>I</span>
            <span>E</span>
            <span>W</span>
          </div>
          <div class="right">
            <div class="introTitle">
              <span>作品概述</span>
              <img src="../assets/copyIcon02.png" alt="" />
            </div>
            <!-- <div class="name"></div> -->
            <p style="line-height: 2;margin-top: 30px">
              《那年那兔那些事》漫画于2011年开始连载，以诙谐的画风和引人入胜的故事情节走进大众视野，以呆萌的动物视角讲述了新中国政府成立后国内外的军事外交历史事件，2015年，那兔推出同名动画，深受广大网友的喜爱，截止到2021年，全网累计播放量已超30亿，是国内播放量最大的军事历史动画。
            </p>
          </div>
        </div>
        <div class="story">
          <div class="left">
            <span>I</span>
            <span>N</span>
            <span>T</span>
            <span>R</span>
            <span>O</span>
            <span>D</span>
            <span>U</span>
            <span>C</span>
            <span>T</span>
            <span>I</span>
            <span>O</span>
            <span>N</span>
          </div>
          <div class="right">
            <div class="introTitle">
              <span>故事简介</span>
              <img src="../assets/copyIcon02.png" alt="" />
            </div>
            <p style="line-height: 2;margin-top:30px">
              浩瀚的宇宙中有一颗美丽的蓝色星球，星球上耸立着古老的国度——种花家，这片土地上的人民以炎黄子孙自称。经历五千年的繁荣，种花家开始衰落，毛熊和脚盆鸡等列强决定瓜分这个国度，当他们吵得不可开交的时候，光头萌总自称大当家，和二当家兔子隆重登场。然而萌总和兔子最初的合作并不顺利，两人互拍互殴，却没想到脚盆鸡趁虚而入，企图吞并种花家，为了保卫自己的国土，兔子决定和萌总再度携手共御外辱。兔子赶走了脚盆鸡和萌总，建立新的国度。
            </p>
            <p style="line-height: 2;margin-top:30px">
              而那年以后，熊和鹰为首的两大集团进入冷战时期，而南北半岛两大年糕集团的纷争又将兔子拉入新的战争中。
            </p>
            <p style="line-height: 2;margin-top:30px">
              国际局势波谲云诡，兔子在枪林弹雨的夹击下踏上了复兴之路……
            </p>
          </div>
        </div>
        <div class="works">
          <div class="left">
            <span>P</span>
            <span>O</span>
            <span>P</span>
            <span>U</span>
            <span>L</span>
            <span>A</span>
            <span>C</span>
            <span>H</span>
            <span>A</span>
            <span>R</span>
            <span>A</span>
            <span>C</span>
            <span>T</span>
            <span>E</span>
            <span>R</span>
            <span>S</span>
          </div>
          <div class="right">
            <div class="introTitle">
              <span>人气角色</span>
              <img src="../assets/copyIcon02.png" alt="" />
            </div>
            <img src="../assets/popularThree.png" alt="" />
          </div>
        </div>
        <div
          class="hiddenMore"
          @click="showContentThree"
          v-show="!contentFlagThree"
        >
          <img src="../assets/show.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      contentFlag: true,
      contentFlagTwo: true,
      contentFlagThree: true,
      flag: true,
    };
  },
  methods: {
    addActive($event) {
      console.log(1111, $event);
      $event.currentTarget.className = "partOne copyActive";
    },
    removeActive($event) {
      console.log(222, $event);
      $event.currentTarget.className = "partOne";
    },
    showContent() {
      this.contentFlag = !this.contentFlag;
      this.contentFlagTwo = true;
      this.contentFlagThree = true;
      // $event.currentTarget.className = "partOne copyActive";
    },

    showContentTwo() {
      this.contentFlagTwo = !this.contentFlagTwo;
      this.contentFlag = true;
      this.contentFlagThree = true;
      // $event.currentTarget.className = "partOne copyActive";
    },
    showContentThree() {
      this.contentFlagThree = !this.contentFlagThree;
      this.contentFlag = true;
      this.contentFlagTwo = true;
      // $event.currentTarget.className = "partOne copyActive";
    },
  },
};
</script>
<style lang="scss">
.copyright {
  .imgGroup {
    text-align: center;
    img {
      width: 90%;
      margin-bottom: 60px;
    }
  }
  img {
    width: 100%;
  }
  .copyActive {
    img {
      opacity: 1 !important;
    }
  }
  .partOne {
    cursor: pointer;
    background: #060b21;
    img {
      opacity: 0.5;
    }
  }
  .showMore {
    position: relative;
    z-index: 9;
    text-align: center;
    img {
      position: absolute;
      width: 50px;
      top: -70px;
      cursor: pointer;
    }
  }
  .hiddenMore {
    position: relative;
    z-index: 9;
    text-align: center;
    img {
      transform: rotate(180deg);
      position: absolute;
      width: 50px;
      cursor: pointer;
    }
  }
  .partContent {
    background: #060b21;
    padding: 0 60px;
    padding-bottom: 120px;
    max-width: 1366px;
    .copyrightTitle {
      font-size: 22px;
      padding: 64px 0;
      color: #fff;
      text-align: center;
    }
    .intro {
      margin: 0 60px;
      padding: 60px;
      background: #000;
      border-radius: 50px;
      border-top: 5px solid #025cff;
      color: #fff;
      margin-bottom: 60px;
      overflow: hidden;
      .left {
        margin-top: 40px;
        margin-left: -50px;
        width: 200px;
        float: left;
        text-align: center;
        span {
          font-size: 32px;
          font-weight: 600;
          margin-top: -15px;
          display: block;
          transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          /* Internet Explorer 9*/
          -moz-transform: rotate(90deg);
          /* Firefox */
          -webkit-transform: rotate(90deg);
          /* Safari 和 Chrome */
          -o-transform: rotate(90deg);
          /* Opera */
        }
      }
      .right {
        width: calc(100% - 200px);
        float: left;
        .contentOne {
          float: left;
          // margin-bottom: 10px;
          .detail {
            padding: 30px 0;
            text-align: left;
            // border-bottom: 1px solid #343434;
            // width: 775px;
            p {
              color: #fff;
            }
            // font-size: 14px;
            span:first-child {
              width: 280px;
            }
            img {
              width: 18px;
              margin-right: 5px;
            }
          }
          span {
            display: inline-block;
            padding: 15px 0;
            min-width: 250px;
          }
        }
        .contentTwo {
          color: #fff;
          font-size: 14px;
          img {
            width: 18px;
            margin-right: 5px;
          }
          span {
            margin: 20px 0;
            display: inline-block;
            padding: 15px 0 0 0;
            min-width: 250px;
          }
        }
      }
      .introTitle {
        font-size: 22px;
        padding: 30px 0;
        // color: #fff;
        color: #025cff;
        border-bottom: 2px solid #343434;
        img {
          width: 30px;
          float: right;
        }
        span {
          border-bottom: 2px solid #025cff;
          padding: 0 120px 30px 0;
        }
      }
      .name {
        color: #02eaff;
        font-size: 28px;
        padding: 30px 0;
      }
      .representativeWork {
        padding: 30px 0;
        p {
          color: #fff;
          // font-size: 20px;
          // font-weight: 600;
        }
      }
      .honor {
        color: #025cff;
        font-size: 18px;
        line-height: 2;
        margin: 60px 0 30px;
        img {
          width: 12px;
        }
      }
      .honorBg {
        position: relative;
        img {
          position: absolute;
          right: 200px;
          width: 200px;
          top: 380px;
        }
      }
    }
    .works {
      margin: 0 60px;
      padding: 60px;
      background: #000;
      border-radius: 50px;
      border-top: 5px solid #025cff;
      color: #fff;
      margin-bottom: 60px;
      overflow: hidden;
      .left {
        margin-top: 40px;
        margin-left: -50px;
        width: 200px;
        float: left;
        text-align: center;
        span {
          font-size: 32px;
          font-weight: 600;
          margin-top: -15px;
          display: block;
          transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          /* Internet Explorer 9*/
          -moz-transform: rotate(90deg);
          /* Firefox */
          -webkit-transform: rotate(90deg);
          /* Safari 和 Chrome */
          -o-transform: rotate(90deg);
          /* Opera */
        }
      }
      .right {
        width: calc(100% - 200px);
        float: left;
        p {
          color: #fff;
        }
      }
      .introTitle {
        font-size: 22px;
        padding: 30px 0;
        color: #025cff;
        border-bottom: 2px solid #343434;
        img {
          width: 30px;
          float: right;
        }
        span {
          border-bottom: 2px solid #025cff;
          padding: 0 120px 30px 0;
        }
      }
      .name {
        color: #02eaff;
        font-size: 28px;
        padding: 30px 0;
      }
    }
    .story {
      margin: 0 60px;
      padding: 60px;
      background: #000;
      border-radius: 50px;
      border-top: 5px solid #025cff;
      color: #fff;
      margin-bottom: 60px;
      overflow: hidden;
      p {
        color: #fff;
      }
      .left {
        margin-top: 40px;
        margin-left: -50px;
        width: 200px;
        float: left;
        text-align: center;
        span {
          font-size: 32px;
          font-weight: 600;
          margin-top: -15px;
          display: block;
          transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          /* Internet Explorer 9*/
          -moz-transform: rotate(90deg);
          /* Firefox */
          -webkit-transform: rotate(90deg);
          /* Safari 和 Chrome */
          -o-transform: rotate(90deg);
          /* Opera */
        }
      }
      .right {
        width: calc(100% - 200px);
        float: left;
      }
      .introTitle {
        font-size: 22px;
        padding: 30px 0;
        color: #025cff;
        border-bottom: 2px solid #343434;
        img {
          width: 30px;
          float: right;
        }
        span {
          border-bottom: 2px solid #025cff;
          padding: 0 120px 30px 0;
        }
      }
      .name {
        color: #025cff;
        font-size: 28px;
        padding: 30px 0;
      }
    }
  }
}
</style>