<template>
  <div class="gameCenter">
    <!-- <TopMenu /> -->
    <el-carousel :height="imgHeight + 'px'" trigger="click">
      <el-carousel-item v-for="(item, index) in imgurl" :key="index">
        <img
          ref="image"
          style="width: 100%; height: 100%; object-fit: cover"
          :src="item"
          alt=""
        />
      </el-carousel-item>
    </el-carousel>
    <div class="max_1366">
      <div>
        <div class="gameTitle">
          <h1>游戏中心</h1>
        </div>
        <el-row :gutter="24" class="gameContainer">
          <el-col :span="8">
            <div class="">
              <img src="../assets/gameImg01.png" alt="" />
              <!-- <img class="imgBg" src="../assets/gameImg001.png" alt="" /> -->
            </div>
          </el-col>
          <el-col :span="8">
            <img src="../assets/gameImg02.jpg" alt="" />
          </el-col>
          <el-col :span="8">
            <img src="../assets/gameImg02.jpg" alt="" />
          </el-col>
        </el-row>
      </div>
    </div>

    <!-- <BottomMenu /> -->
  </div>
</template>
<script>
import TopMenu from "../components/topMenu.vue";
import BottomMenu from "../components/bottomMenu.vue";
export default {
  components: {
    TopMenu,
    BottomMenu,
  },
  data() {
    return {
      imgurl: [
        require("../assets/gameBannar01.png")
      ],
      imgHeight: "",
    };
  },
  methods: {
    imgLoad() {
      this.$nextTick(function () {
        this.imgHeight = 600;
        // let clientWidth = "";
        // if (document.body.clientWidth < 1280) {
        //   clientWidth = 1280;
        // } else {
        //   clientWidth = document.body.clientWidth;
        // }
        // // 获取窗口宽度*图片的比例，定义页面初始的轮播图高度
        // this.imgHeight = clientWidth / 2.52;
      });
    },
  },
  mounted() {
    this.imgLoad();
    // 监听窗口变化，使得轮播图高度自适应图片高度
    window.addEventListener("resize", () => {
      this.imgLoad();
      //   this.imgHeight = this.$refs.image[0].height;
    });
  },
};
</script>
<style lang="scss">
.gameCenter {
  .gameTitle {
    padding: 64px 60px 58px 60px;
  }
  .gameContainer {
    padding: 0 48px;
    margin-bottom: 106px;
    img {
      width: 100%;
    }
    .imgBg {
      opacity: 0.5;
      // position: absolute;
    }
  }
}
</style>