<template>
  <div class="home">
    <!-- <TopMenu /> -->
    <div class="top">
      <el-carousel
        :height="imgHeight + 'px'"
        trigger="click"
        ref="card"
        @change="imgChange()"
        class="hiddenBtn"
      >
        <el-carousel-item v-for="(item, index) in imgurl" :key="index">
          <img
            ref="image"
            style="width: 100%; height: 100%; object-fit: cover"
            :src="item"
            alt=""
          />
        </el-carousel-item>
      </el-carousel>
      <div class="tab" style="width: 610px">
        <div @click="one()">
          <span :class="{ active: activeIndex === 0 }">遮天</span>
        </div>
        <div @click="two()">
          <span :class="{ active: activeIndex === 1 }">青帝传</span>
        </div>
        <div @click="three()">
          <span :class="{ active: activeIndex === 2 }">那年那兔那些事儿</span>
        </div>
      </div>
    </div>

    <div class="max_1366" style="background: #f3f7ff">
      <el-row class="introduction" :gutter="24">
        <el-col :span="11">
          <div class="grid-content">
            <h1>星阅辰石</h1>
            <h3 style="maring-bottom: 32px">
              数字文创领域标杆旗舰企业
            </h3>
            <div class="article">
              <p>
                成都星阅辰石文化发展有限公司是中国领先的新文创内容提供商和数字娱乐运营商，旗下品牌“星艺互娱”、“星艺文娱”，拥有包括《遮天》系列、《那年那兔那些事儿》等多个业内顶尖IP，致力于构建集IP开发、运营、横向衍生于一体的多元化自主数字娱乐生态群。
              </p>
              <p>
                2020年成都高新新兴产业投资合伙企业正式注资星阅辰石，携手在文学创作、动漫游戏、影视互娱、数字媒体等领域发力，聚力打造具有可持续发展性与高成长性的良性产业生态系统。
              </p>
            </div>
          </div>
          <div class="infoMore" @click="toAbout">
            阅读更多<i class="el-icon-caret-bottom"></i>
          </div>
        </el-col>

        <el-col :span="12" :offset="1">
          <div class="infoImg">
            <img src="../assets/bannar02.png" alt="" />
          </div>
        </el-col>
      </el-row>
    </div>
    <div class="max_1366">
      <el-row :gutter="24" class="copyrightCenter">
        <el-col :span="24">
          <h1 class="center" style="margin-bottom: 32px">版权中心</h1>
          <p class="center">
            星阅辰石聚焦打造符合中华文化色彩并且匹配时代受众偏好的优质IP，以IP增值为核心着眼全领域开发，搭建具备可持续发展的IP协作共同体，助力构建新文创良性生态
          </p>
          <p class="center">
            目前品牌拥有玄幻网文大作《遮天》系列和现象级动漫作品《那年那兔那些事儿》等多个业内顶尖IP
          </p>
          <p class="center">
            未来将孵化吸纳更多具备生机的优质IP，打造更具时代影响力的文创符号
          </p>
        </el-col>
        <el-col :span="6" class="center">
          <img class="copyrightIcon" src="../assets/icon_one.png" alt="" />
          <h2 class="copyrightTitle">星阅荟</h2>
          <p class="center annotationText">科学完备的IP孵化体系，携手明星</p>
          <p class="center annotationText">作家打造互利共赢的精品内容供应链</p>
        </el-col>
        <el-col :span="6" class="center">
          <img class="copyrightIcon" src="../assets/icon_two.png" alt="" />
          <h2 class="copyrightTitle">全内容品类</h2>
          <p class="center annotationText">综合覆盖100+内容品类</p>
          <p class="center annotationText">满足受众全方位内容需求</p>
        </el-col>
        <el-col :span="6" class="center">
          <img class="copyrightIcon" src="../assets/icon_three.png" alt="" />
          <h2 class="copyrightTitle">亿级受众覆盖</h2>
          <p class="center annotationText">多元化内容传播途径</p>
          <p class="center annotationText">全平台内容分发渠道</p>
        </el-col>
        <el-col :span="6" class="center">
          <img class="copyrightIcon" src="../assets/icon_four.png" alt="" />
          <h2 class="copyrightTitle">IP良性生态集群</h2>
          <p class="center annotationText">优质IP吸纳和衍生开发</p>
          <p class="center annotationText">全面良性的IP运营矩阵</p>
        </el-col>
      </el-row>
    </div>
    <!-- 漫画 -->
    <div class="max_1366">
      <el-row class="cartoon" :gutter="24">
        <el-col :span="24">
          <div class="title">
            漫画<span class="moreCartoon" @click="moreCartoon"
              >更多<i class="el-icon-caret-right"></i
            ></span>
          </div>
        </el-col>
        <el-col :span="8">
          <img style="width: 100%" src="../assets/cartoon_one.png" />
          <div class="cartoonBg">
            <h1>那年那兔那些事儿</h1>
            <h3 class="cartoonh3"></h3>
            <p class="cartoonContent">
              浩瀚的宇宙中有一颗美丽的蓝色星球，星球上耸立着古老的国度种花家，这片土地上的人民以炎黄子孙自称。经历五千年的繁荣，种花家开始衰落，毛熊和脚盆鸡等列强决定分这个国度，为了保卫自己的国土，兔子们前赴后继顽强拼搏，在复兴种花家的道路上前进着...
            </p>
            <p class="annotationText" style="line-height: 34px">
              热血/历史/军事 <span>地区</span> <span>中国大陆</span>
              <el-button @click="moreCartoonOne()"> 阅读漫画</el-button>
            </p>
          </div>
        </el-col>
        <el-col :span="8">
          <img style="width: 100%" src="../assets/cartoon_two.png" />
          <div class="cartoonBg">
            <h1>遮天</h1>
            <h3 class="cartoonh3"></h3>
            <p class="cartoonContent">
              叶凡原是一个平凡的普通人，因缘巧合被九龙拉棺带到北斗星域，从此踏上证道之旅，辗转多年，他斗圣地世家，战太古生物，闯星空古路，阻黑暗动乱，重立天庭，最终以力证道，打破了圣体不可成帝的诅咒。
            </p>
            <p class="annotationText" style="line-height: 34px">
              玄幻/仙侠 <span>地区</span> <span>中国大陆</span>
              <el-button>阅读漫画</el-button>
            </p>
          </div>
        </el-col>
        <el-col :span="8">
          <img style="width: 100%" src="../assets/cartoon_three.png" />
          <div class="cartoonBg">
            <h1>青帝传</h1>
            <h3 class="cartoonh3"></h3>
            <p class="cartoonContent">
              遥远的北斗星域，神物“混沌青莲”被大战余威冲入地球，与考古队员万青身体融合，自此侵夺七魄，传承仙器，聚力化形，逆战伐仙，镇邪平乱，终成大帝，青帝开启了他可堪传奇的一生...
            </p>
            <p class="annotationText" style="line-height: 34px">
              玄幻/仙侠 <span>地区</span> <span>中国大陆</span>
              <el-button @click="moreCartoonThree()">阅读漫画</el-button>
            </p>
          </div>
        </el-col>
      </el-row>
    </div>
    <el-row class="movies" :gutter="24">
      <el-col :span="24">
        <div class="title">
          影视<span @click="moreMovies()" class="moreCartoon"
            >更多<i class="el-icon-caret-right"></i
          ></span>
        </div>
      </el-col>
    </el-row>
    <el-carousel :height="moviesHeight + 'px'" trigger="click">
      <el-carousel-item v-for="(item, index) in moviesImgurl" :key="index">
        <img
          ref="moviesImage"
          style="width: 100%; height: 100%"
          :src="item"
          alt=""
        />
      </el-carousel-item>
    </el-carousel>
    <el-row class="movies" :gutter="24">
      <el-col :span="24">
        <div class="title">
          游戏<span class="moreCartoon" @click="moreGame()"
            >更多<i class="el-icon-caret-right"></i
          ></span>
        </div>
      </el-col>
    </el-row>
    <div class="games">
      <img src="../assets/bannar04.png" alt="" />
    </div>
    <div class="max_1366" style="background: #f3f7ff">
      <el-row :gutter="24" class="business">
        <el-col :span="24">
          <h1 class="center" style="margin-bottom: 50px">业务合作</h1>
        </el-col>
        <el-col :span="8">
          <div class="center" style="margin-left: 35px;height: 130px"> 
            <img src="../assets/business_one.png" alt="" />
          </div>
          <div class="center">IP交易</div>
        </el-col>
        <el-col :span="8">
          <div class="center" style="margin-left: 35px;height: 130px">
            <img src="../assets/business_two.png" alt="" />
          </div>
          <div class="center">IP授权</div>
        </el-col>
        <el-col :span="8">
          <div class="center" style="margin-left: 25px;height: 130px">
            <img src="../assets/business_three.png" alt="" />
          </div>
          <div class="center">IP开发</div>
        </el-col>
        <el-col :span="24" style="margin-top: 70px; margin-bottom: 44px">
          <p class="center">
            星阅辰石旗下拥有不同领域多种品类的优质IP，综合覆盖影视、游戏、动画、音乐、文创、周边衍生等全领域开发维度
          </p>
          <p class="center">
            品牌方可根据自身的产品属性、用户画像、开发计划、品牌需求等维度进行意向IP的筛选和咨询
          </p>
          <p class="center">
            针对不同的合作深度，星阅辰石可提供IP交易、授权、联合开发等多种合作模式供品牌方自行选择
          </p>
        </el-col>
        <el-col :span="24" class="center">
          <el-button @click="moreBusiness()">了解更多</el-button>
        </el-col>
      </el-row>
    </div>
    <div class="max_1366">
      <el-row class="news" :gutter="24">
        <el-col :span="24">
          <div class="center">
            <h1>新闻中心</h1>
          </div>
        </el-col>
        <el-col :span="8" v-for="(item, index) in newList" :key="index">
          <div class="card annotationText">{{ item.newDateStr }}</div>
          <div class="newsTitle">{{ item.newTitle }}</div>
          <div class="content">
            {{ item.newContent }}
          </div>
          <div class="newsMore">
            <el-button @click="moreNews(item.webLink)">了解更多</el-button>
          </div>
        </el-col>
      </el-row>
    </div>
    <!-- <BottomMenu /> -->
  </div>
</template>
<script>
import TopMenu from "../components/topMenu.vue";
import BottomMenu from "../components/bottomMenu.vue";
import { getList } from "@/api/backStage/news.js";
export default {
  components: {
    TopMenu,
    BottomMenu,
  },
  data() {
    return {
      imgurl: [
        require("../assets/bannar001.png"),
        require("../assets/bannar002.png"),
        require("../assets/bannar003.png"),
      ],
      activeIndex: 0,
      moviesImgurl: [
        require("../assets/bannar005.png"),
        require("../assets/bannar006.png"),
        require("../assets/bannar007.png"),
      ],
      imgHeight: "",
      moviesHeight: "",
      newList: [],
      searchValue: { pageNum: 1, pageSize: 10, syFlag: "0" },
    };
  },
  methods: {
    imgChange() {
      this.activeIndex = this.$refs.card.activeIndex;
    },
    moreNews(url) {
      window.open(url, "_blank");
    },
    toAbout() {
      this.$router.push("/aboutUs");
      this.topScroll();
    },
    moreCartoon() {
      this.$router.push("/cartoonCenter");
      this.topScroll();
    },
    moreMovies() {
      this.$router.push("/moviesCenter");
      this.topScroll();
    },
    moreGame() {
      this.$router.push("/gameCenter");
      this.topScroll();
    },
    moreBusiness() {
      this.$router.push("/business");
      this.topScroll();
    },
    //
    topScroll() {
      let top = document.documentElement.scrollTop || document.body.scrollTop;
      // 实现滚动效果
      const timeTop = setInterval(() => {
        document.body.scrollTop =
          document.documentElement.scrollTop =
          top -=
            50;
        if (top <= 0) {
          clearInterval(timeTop);
        }
      }, 10);
    },
    moreCartoonOne() {
      window.open("https://www.u17.com/comic/38640.html", "_blank");
    },
    moreCartoonThree() {
      window.open("https://ac.qq.com/Comic/comicInfo/id/646227", "_blank");
    },
    imgLoad() {
      this.$nextTick(function () {
        this.imgHeight = 600;
        // 获取窗口宽度*图片的比例，定义页面初始的轮播图高度
        let clientWidth = "";
        if (document.body.clientWidth < 1280) {
          clientWidth = 1280;
        } else {
          clientWidth = document.body.clientWidth;
        }
        // this.imgHeight = clientWidth / 1.9;
        this.moviesHeight = clientWidth / 2.43;
      });
    },
    one() {
      if (this.$refs.card.activeIndex == 1) {
        this.$refs.card.prev();
      } else if (this.$refs.card.activeIndex == 2) {
        this.$refs.card.next();
      }
    },
    two() {
      if (this.$refs.card.activeIndex == 0) {
        this.$refs.card.next();
      } else if (this.$refs.card.activeIndex == 2) {
        this.$refs.card.prev();
      }
    },
    three() {
      if (this.$refs.card.activeIndex == 0) {
        this.$refs.card.prev();
      } else if (this.$refs.card.activeIndex == 1) {
        this.$refs.card.next();
      }
    },
    getData() {
      getList(this.searchValue).then((response) => {
        let news = response.data.data.content;
        this.newList = [news[0], news[1], news[2]];
      });
    },
  },
  mounted() {
    this.imgLoad();
    this.getData();
    this.$refs.card.activeIndex === 0;
    // 监听窗口变化，使得轮播图高度自适应图片高度
    window.addEventListener("resize", () => {
      this.imgLoad();
      // this.imgHeight = this.$refs.image[0].height;
      // this.moviesHeight = this.$refs.moviesImage[0].height;
    });
  },
};
</script>
<style lang="scss">
.hiddenBtn {
  .el-carousel__indicators--horizontal {
    display: none !important;
  }
}
.home {
  .moreCartoon {
    cursor: pointer;
  }
  .top {
    position: relative;
  }
  .tab {
    position: absolute;
    bottom: 0px;
    left: 40px;
    width: 40%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: blue;
    font-size: 20px;
    color: #fff;
    z-index: 999;
    div {
      cursor: pointer;
      border-right: 1px solid #02d9fe;
      padding: 0px 55px;
      .active {
        padding: 14px 0;
        border-top: 3px solid #02d9fe;
      }
    }
    div:last-child {
      border-right: none !important;
    }
  }
  .introduction {
    background: #f3f7ff;
    padding: 80px 60px;
  }
  .infoImg {
    img {
      width: 100%;
    }
  }
  .infoMore {
    margin-top: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #333;
    i {
      color: #333;
    }
  }
  .copyrightCenter {
    padding: 80px 60px;
    .copyrightIcon {
      width: 100px;
      margin: 28px 0;
    }
    .copyrightTitle {
      margin-bottom: 18px;
    }
  }
  .cartoon {
    padding: 0 60px;
    // margin-top: 60px;
    .title {
      text-align: center;
      font-size: 28px;
      line-height: 28px;
      font-weight: bold;
      margin-bottom: 24px;
      span {
        float: right;
        font-size: 16px;
        font-weight: 300;
        position: absolute;
        right: 72px;
      }
    }
    .cartoonBg {
      background: #f3f7ff;
      padding: 24px;
      // h3 {
      //   min-height: 60px;
      //   overflow: hidden;
      //   text-overflow: ellipsis;
      //   display: -webkit-box;
      //   -webkit-line-clamp: 2;
      //   -webkit-box-orient: vertical;
      // }
      .cartoonh3 {
        border-top: 1px solid #ddd;
        // padding-top: 10px;
        // font-size: 18px;
        // font-weight: bold;
        // overflow: hidden;
        // text-overflow: ellipsis;
        // display: -webkit-box;
        // -webkit-line-clamp: 2;
        // -webkit-box-orient: vertical;
        // min-height: 40px;
      }
      .cartoonContent {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        margin-bottom: 16px;
        min-height: 72px;
      }
      button {
        background: #00def5;
        color: #fff;
        font-size: 12px;
        border-radius: 180px;
        padding: 10px 24px;
        float: right;
      }
    }
  }
  .movies {
    .title {
      text-align: center;
      font-size: 28px;
      line-height: 28px;
      margin: 64px 0 40px 0;
      font-weight: bold;
      span {
        font-weight: 300;
        float: right;
        font-size: 16px;
        position: absolute;
        right: 72px;
        // padding-right: 60px;
      }
    }
  }
  .games {
    img {
      width: 100%;
    }
  }
  .business {
    padding-top: 70px;
    padding-bottom: 50px;
    background: #f3f7ff;
    button {
      background: #00def5;
      color: #fff;
      font-size: 12px;
      border-radius: 180px;
      padding: 10px 24px;
    }
    img {
      width: 40%;
      margin-bottom: 10px;
    }
  }
  .news {
    padding: 0 60px;
    h1 {
      color: #333;
      margin: 50px 0 44px 0;
    }
    .card {
      border-top: 2px solid #c0c0c0;
      padding: 24px 0;
    }
    .newsTitle {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 24px;
      min-height: 65px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    .content {
      text-align: justify;
      font-size: 16px;
      color: #888;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      min-height: 100px;
    }
    .newsMore {
      text-align: right;
      button {
        margin: 40px 0;
        background: #00def5;
        color: #fff;
        font-size: 12px;
        border-radius: 180px;
        padding: 10px 24px;
      }
    }
  }
}
</style>