 <template>
  <div>
    <el-amap :center="center" :zoom="zoom" id="container">
      <el-amap-marker :position="center" :label="label"></el-amap-marker>
    </el-amap>
  </div>
</template>
<script>
export default {
  data() {
    return {
      center: [104.06848569128798,30.538568166726936],
      zoom: 15,
      label: {
        content: "星阅辰石",
        offset: [10, 12],
      },
    };
  },
  methods: {
    // 初始化地图
    initMap(map) {
      var map = new AMap.Map("container", {
        zoomEnable: true, //是否禁止缩放
        zoom: 12, //缩放比例
        dragEnable: false, //禁止拖动
        cursor: "hand", // 鼠标在地图上的表现形式，小手
      });
      // 初始化工具条
      map.plugin(["AMap.ToolBar"], function () {
        map.addControl(new AMap.ToolBar());
      });
    },
  },
};
</script>
<style scoped>
#container {
  height: 500px;
  width: 100%;
}
</style>