<template>
  <div class="moviesCenter">
    <!-- <TopMenu /> -->
    <el-carousel :height="imgHeight + 'px'" trigger="click">
      <el-carousel-item v-for="(item, index) in imgurl" :key="index">
        <img
          ref="image"
          style="width: 100%; height: 100%; object-fit: cover"
          :src="item"
          alt=""
        />
      </el-carousel-item>
    </el-carousel>
    <div class="max_1366">
      <div>
        <div class="moviesTitle">
          <h1>影视中心</h1>
        </div>
        <el-row :gutter="24" class="moviesContainer">
          <el-col :span="8">
            <img
              class="todetail"
              @click="moreMoviesOne()"
              src="../assets/movies02.png"
              alt=""
            />
            <div class="moviesCard">
              <h1>《遮天》同名动画</h1>
              <h3 class="title">
                <!-- 以年番剧为标准制作精品内容剧集和剧场版创作开发 -->
              </h3>
              <p class="moviesContent">
                联手现象级影视剧《仙剑奇侠传3》原班人员，和精品国漫《凡人修仙传》原班人马原力动画，集结电影、电视、动画领域顶尖团队共同呈现，致力将该动画剧集打造成为新时代国漫风向标。
              </p>
              <p class="annotationText">
                玄幻/仙侠 <span>地区</span> <span>中国大陆</span>
                <el-button @click="moreMoviesOne()">前往观看</el-button>
              </p>
            </div>
          </el-col>
          <el-col :span="8">
            <img
              class="todetail"
              @click="moreMoviesTwo()"
              src="../assets/movies01.png"
              alt=""
            />
            <div class="moviesCard">
              <h1>《虚空大帝》网络大电影</h1>
              <h3 class="title">
                <!-- 金河豚奖 最具期待网络电影 -->
              </h3>
              <p class="moviesContent">
                虚空以孤儿的身份被姬家堡收养，身为外族人的他备受排挤，在成长的旅程中发现了骇人的真相，于他有养父之恩的姬家堡主是他亲族陨灭的元凶，而他相知相恋的女人竟是他命中的宿敌，沉沦过往还是向死而生，虚空终将抉择自己的命运。
              </p>
              <p class="annotationText">
                <span>玄幻/仙侠</span> <span>地区</span>
                <span>中国大陆</span>
                <el-button @click="moreMoviesTwo()">前往观看</el-button>
              </p>
            </div>
          </el-col>
          <el-col :span="8">
            <img class="todetail" src="../assets/movies03.png" alt="" />
            <div class="moviesCard">
              <h1>《青帝传》网络大电影</h1>
              <h3 class="title">
                <!-- 遮天系列人气角色衍生作品 -->
              </h3>
              <p class="moviesContent">
                遥远的北斗星域，神物“混沌青莲”被大战余威冲入地球，与考古队员万青身体融合，自此侵夺七魄，传承仙器，聚力化形，逆战伐仙，镇邪平乱，终成大帝，青帝开启了他可堪传奇的一生...
              </p>
              <p class="annotationText">
                <span>玄幻/仙侠</span> <span>地区</span>
                <span>中国大陆</span>
                <el-button>前往观看</el-button>
              </p>
            </div>
          </el-col>
        </el-row>
      </div>
    </div>
    <!-- <BottomMenu /> -->
  </div>
</template>
<script>
import TopMenu from "../components/topMenu.vue";
import BottomMenu from "../components/bottomMenu.vue";
export default {
  components: {
    TopMenu,
    BottomMenu,
  },
  data() {
    return {
      imgurl: [
        require("../assets/moviesBannar01.png"),
        require("../assets/moviesBannar02.png"),
        require("../assets/moviesBannar03.png"),
        require("../assets/moviesBannar04.png"),
      ],
      imgHeight: "",
    };
  },
  methods: {
    imgLoad() {
      this.$nextTick(function () {
        this.imgHeight = 600;
        // let clientWidth = "";
        // if (document.body.clientWidth < 1280) {
        //   clientWidth = 1280;
        // } else {
        //   clientWidth = document.body.clientWidth;
        // }
        // 获取窗口宽度*图片的比例，定义页面初始的轮播图高度
        // this.imgHeight = clientWidth / 2.54;
      });
    },
    moreMoviesOne() {
      window.open(
        "https://www.miaopai.com/show/OTFHrLCmBete0Xkdxhs97qnWKB1HEGAAQDiu7A__.htm",
        "_blank"
      );
    },
    moreMoviesTwo() {
      window.open(
        "https://www.miaopai.com/show/iFCbL37P15P-PDqDUp8SH0-5OkxTiaC-kD8lEw__.htm",
        "_blank"
      );
    },
  },
  mounted() {
    this.imgLoad();
    // 监听窗口变化，使得轮播图高度自适应图片高度
    window.addEventListener("resize", () => {
      this.imgLoad();
      //   this.imgHeight = this.$refs.image[0].height;
    });
  },
};
</script>
<style lang="scss">
.moviesCenter {
  .todetail {
    cursor: pointer;
    height: 400px;
    object-fit: cover;
  }
  .moviesTitle {
    padding: 64px 60px 58px 60px;
  }
  .moviesContainer {
    padding: 0 48px;
    margin-bottom: 106px;
    img {
      width: 100%;
    }
    .imgBg {
      opacity: 0.5;
      // position: absolute;
    }
    .moviesCard {
      background: #f3f7ff;
      padding: 20px;
      .title {
        border-top: 1px solid #ddd;
        padding-top: 10px;
        // font-size: 18px;
        // font-weight: bold;
        // overflow: hidden;
        // text-overflow: ellipsis;
        // display: -webkit-box;
        // -webkit-line-clamp: 2;
        // -webkit-box-orient: vertical;
        // min-height: 40px;
      }
      .moviesContent {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        min-height: 100px;
      }
      .annotationText {
        overflow: hidden;
        margin: 30px 0;
        line-height: 34px;
        button {
          float: right;
          background: #00def5;
          color: #fff;
          font-size: 12px;
          border-radius: 180px;
          padding: 10px 24px;
        }
      }
    }
  }
}
</style>