<template>
  <div class="newsCenter">
    <!-- <TopMenu /> -->
      <img
        style="width: 100%; height: 600px; object-fit: cover"
        src="../assets/news_01.png"
        alt=""
      />
    <!-- <div ref="image" class="" :height="imgHeight + 'px'">
    
    </div> -->
    <div class="max_1366">
      <div class="newsWidth">
        <div class="newsTitle">
          <h1>新闻中心</h1>
        </div>
        <el-row
          v-for="(item, index) in news"
          :key="index"
          class="newsRow"
          :gutter="20"
        >
          <div class="newsLine" />
          <el-col :span="8">
            <p class="newsDate">{{ item.newDateStr }}</p>
            <h2 class="newsHeader">{{ item.newTitle }}</h2>
             <div class="newsMore">
              <el-button @click="moreNews(item.webLink)"
                >了解更多<i class="el-icon-caret-right"></i
              ></el-button>
            </div>
          </el-col>
          <el-col :span="16">
            <p class="newsArticle">
              <!-- {{ item.newContent }} -->
            </p>
            <img class="newsPicture" :src="item.imgUrl" />
          </el-col>
        </el-row>
        <div class="newsRow newsLine" />
        <el-pagination
          background
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          :current-page="searchValue.pageNum"
          :page-size="searchValue.pageSize"
          layout="total, sizes, prev, pager, next, jumper"
          :total="totalCount"
        />
      </div>
    </div>

    <!-- <BottomMenu /> -->
  </div>
</template>
<script>
import TopMenu from "../components/topMenu.vue";
import BottomMenu from "../components/bottomMenu.vue";
import { getList } from "@/api/backStage/news.js";
export default {
  components: {
    TopMenu,
    BottomMenu,
  },
  data() {
    return {
      imgHeight: "",
      searchValue: { pageNum: 1, pageSize: 10, syFlag: "0" },
      totalCount: 1,
      news: [],
    };
  },
  mounted() {
    this.imgLoad();
    this.getData();
    // 监听窗口变化，使得轮播图高度自适应图片高度
    window.addEventListener("resize", () => {
      // this.imgHeight = this.$refs.image.height;
      this.imgLoad();
    });
  },
  methods: {
    moreNews(url) {
      window.open(url, "_blank");
    },
    imgLoad() {
      this.$nextTick(function () {
        // 获取窗口宽度*图片的比例，定义页面初始的轮播图高度
        this.imgHeight = 600;
      });
    },
    // 分页每页条数改变
    handleSizeChange(pageSize) {
      this.searchValue.pageSize = pageSize;
      this.getData();
    },
    // 分页当前页数改变
    handleCurrentChange(pageNum) {
      this.searchValue.pageNum = pageNum;
      this.getData();
    },
    getData() {
      getList(this.searchValue).then((response) => {
        this.news = response.data.data.content;
        this.totalCount = response.data.data.totalSize;
      });
    },
  },
};
</script>
<style lang="scss">
.newsCenter {
  .el-pagination {
    padding: 60px 0;
    text-align: center;
  }

  .newsWidth {
    min-width: 1280px;
  }
  .newsTitle {
    padding: 64px 60px 40px 70px;
  }
  .newsRow {
    padding: 0px 0px 0px 60px;
  }
  .newsLine {
    border-top: 1px solid grey;
  }
  .newsDate {
    padding: 28px 60px 24px 0px;
  }
  .newsHeader {
    padding: 0px 60px 0px 0px;
  }
  .newsArticle {
    padding: 15px 0px;
  }
  .newsPicture {
    width: 100%;
    padding: 0px 0px 40px 0px;
  }
  .newsMore {
    // text-align: right;
    button {
      margin: 40px 0;
      background: #00def5;
      color: #fff;
      font-size: 12px;
      border-radius: 180px;
      padding: 10px 24px;
    }
  }
  .pagination {
    padding: 20px 0px 20px 0px;
    text-align: center;
  }
}
</style>