<template>
  <div id="app">
    <top-menu  v-show="!(this.$route.path==='/newsAdmin')"/>
    <router-view />
    <bottom-menu v-show="!(this.$route.path==='/newsAdmin')" />
    <div class="toTop" v-show="!(this.$route.path==='/newsAdmin')">
       <img
       @click="topScroll()"
        src="./assets/top.png"
        alt="回到顶端"
        title="回到顶端"
      />
    </div>
  </div>
</template>

<script>
import BottomMenu from "./components/bottomMenu.vue";
import topMenu from "./components/topMenu.vue";
export default {
  components: { topMenu, BottomMenu },
  name: "App",
  data() {
    return {
      showFlag:true,
      path: "",
    };
  },
  mounted() {
    this.path = this.$route.path;
    console.log("路由",this.$route.path)
  },
  methods:{
    topScroll() {
      let top = document.documentElement.scrollTop || document.body.scrollTop;
      // 实现滚动效果
      const timeTop = setInterval(() => {
        document.body.scrollTop =
          document.documentElement.scrollTop =
          top -=
            50;
        if (top <= 0) {
          clearInterval(timeTop);
          this.showFlag=false
        }
      }, 10);
    },
  }
};
</script>
<style  lang="scss">
* {
  margin: 0 auto;
  padding: 0;
}
img {
  border: 0;
  vertical-align: text-top;
}

#app {
  font-family: "Microsoft YaHei", Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 1280px;
  /* text-align: center;
  color: #2c3e50; */
  /* margin-top: 60px; */
}
.el-row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
h1 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #333;
  font-weight: bold;
}
h2 {
  color: #333;
  font-size: 24px;
}
h3 {
  color: #333;
  font-weight: 300;
  font-size: 22px;
  margin-bottom: 20px;
}
p {
  text-align: justify;
  line-height: 1.5;
  margin-bottom: 5px;
  font-size: 16px;
  color: #888;
}
.center {
  text-align: center;
}
.annotationText {
  font-size: 14px !important;
  color: #888;
}
.moreBtn {
  background: #00def5;
  color: #fff;
  font-size: 12px;
  border-radius: 180px;
  padding: 10px 24px;
}
.max_1366 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  div {
    max-width: 1366px;
  }
}
.el-carousel__button {
  width: 12px !important;
  height: 12px !important;
  border-radius: 180px !important;
  margin-bottom: 20px !important;
  margin: 0 10px 20px 10px !important;
}
.el-carousel__indicator.is-active button {
  width: 44px !important;
}
.el-carousel__arrow i{
  font-size: 28px;
}
.el-message{
min-width: inherit
}
.toTop{
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9;
  img{
    width: 100px;
    cursor: pointer;
  }
}
</style>
