<template>
  <div class="back">
      <nav-h  id="listMenu"></nav-h>
      <div class="title">新闻管理</div>
      <div class="menuData">
        <el-row style="text-align: left; padding: 30px;">
           <el-button class="queButton" size="small" plain type="primary" @click="add()">新增</el-button>
        </el-row>
        <el-table
          :data="tableData"
          style="width: 100%">
          <el-table-column prop="newTitle" label="新闻标题"  align="center"></el-table-column>
          <el-table-column prop="newContent" :show-overflow-tooltip="true" label="新闻内容" align="center"></el-table-column>
          <el-table-column prop="webLink" label="新闻链接" width="180" align="center" :show-overflow-tooltip="true"></el-table-column>
          <el-table-column prop="syFlag" label="首页标识" width="180" align="center" :show-overflow-tooltip="true">
            <template slot-scope="scope">
                <div v-if="scope.row.syFlag == 0">是</div>
                <div v-if="scope.row.syFlag == 1">否</div>
            </template>
          </el-table-column>
          <el-table-column label="操作"  align="center" width="300px"> 
              <template slot-scope="scope">
                  <el-button class="viewButtom" @click="edit(scope.row)" type="text" size="small">编辑</el-button>
                  <el-button class="viewButtom" @click="show(scope.row)" type="text" size="small">查看</el-button>
                  <el-button class="viewButtom" @click="deleteData(scope.row.id)" type="text" size="small">删除</el-button>
              </template>
          </el-table-column>
        </el-table>
        <div class="page">
        <el-pagination
            background
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="searchValue.pageNum"
            :page-size="searchValue.pageSize"
            layout="total, sizes, prev, pager, next, jumper"
            :total="totalCount">
        </el-pagination>
        </div>
      </div>
    <el-dialog
        :title="title"
        :visible.sync="dialogVisible"
        :before-close="handleClose"
        width="50%">
            <el-form ref="form"  :model="form" label-width="80px">
                <el-form-item label="新闻标题">
                  <el-date-picker
                    v-model="form.newDate"
                    type="date"
                    placeholder="选择日期">
                  </el-date-picker>
                </el-form-item>
                <el-form-item label="新闻标题">
                    <el-input v-model="form.newTitle" :disabled="sure"></el-input>
                </el-form-item>
                <el-form-item label="新闻内容">
                    <el-input type="textarea" v-model="form.newContent" :disabled="sure"></el-input>
                </el-form-item>
                <el-form-item label="新闻链接">
                    <el-input  v-model="form.webLink" :disabled="sure"></el-input>
                </el-form-item>
                 <el-form-item label="首页标识">
                   <el-select v-model="form.syFlag" placeholder="请选择">
                      <el-option label="是" value="0"></el-option>
                      <el-option label="否" value="1"></el-option>
                    </el-select>
                </el-form-item>
                 <el-form-item label="上传文件" prop="hapterFile">
                    <el-upload
                      class="upload-demo"
                      :action="abc"   
                      :on-success="handleCaseChapter"
                      :on-remove="handleRemoveCaseChapter"
                      accept=".jpg,.jpeg,.png,.JPG,.JPEG"
                      multiple
                      :limit="1"
                      :disabled="sure"
                      list-type="picture-card"
                      :file-list="form.urlList">
                       <i class="el-icon-plus"></i>
                    </el-upload>
                    <el-dialog :visible.sync="a">
                      <img width="100%" :src="dialogImageUrl" alt="">
                    </el-dialog>
                  </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="onSubmit" v-if="view">保存</el-button>
                </el-form-item>
            </el-form>
      </el-dialog> 
  </div>
</template>

<script>
import Nav from "../components/nav.vue";
import { getList,getSave,getEdit,getDelete,getEditSave} from "@/api/backStage/news.js";
export default {
    data(){
        return{
            tableData:[],
            title:'',
            dialogVisible:false,
            form:{
              urlList:[],
            },
            searchValue:{pageNum:1, pageSize:10},  
            totalCount:1, 
            sure:false,                                                 //总记录数
            view:true,
            abc:"sch/file/upload",
            caseChapterList:[],
            dialogImageUrl: '',
            a: false,
            b:[],
            pic:[],
        }
    },
    components: {
        "nav-h": Nav
    },
    created(){
      this.getData();
    },
    methods:{
      // handleExceed(files, fileList) {
      //   this.$message.warning(`当前限制选择 3 个文件，本次选择了 ${files.length} 个文件，共选择了 ${files.length + fileList.length} 个文件`);
      // },
      handleClose(){
        this.dialogVisible = false;
        this.form = {
          urlList:[],
        }
        this.pic = [];
      },
      handleCaseChapter(response, file, fileList){
      if(file.response.result === '1'){
        this.pic.push(file);
        
       }else{
          this.$message.error(file.response.msg);
          file.status = "error";
       }

    },
    handleRemoveCaseChapter(file, fileList){
      if(this.form.urlList.length == 0){
        var index = this.pic.findIndex(item =>{
　　　　　　　　　　if(item.url==file.url){
　　　　　　　　　　　　return true
　　　　　　　　　　}
　　　　　　　　})
　　　　this.pic.splice(index,1)
      }else{
        var index = this.form.urlList.findIndex(item =>{
　　　　　　　　　　if(item.url==file.url){
　　　　　　　　　　　　return true
　　　　　　　　　　}
　　　　　　　　})
　　　　this.form.urlList.splice(index,1)
      }
    },
      add(){
        this.dialogVisible = true;
        this.sure = false;
        this.view  = true;
      },
      //保存
      onSubmit(){
        for (let i = 0; i < this.pic.length; i++) {
          this.form.urlList.push(
            {
              imgName: this.pic[i].name,
              url:this.pic[i].response.data
            }
          )
          
        }
        if(this.form.id == '' || this.form.id == null || this.form.id == undefined){
          getSave(this.form).then(response =>{
            if(response.data.result == '1'){
              this.$message({
                message: response.data.msg,
                type: 'success'
              });
              this.dialogVisible = false;
              this.getData();
            }else{
               this.$message.error(response.data.msg);
            }
          })
          this.form = {
            urlList:[],
          }
          this.pic = [];
        }else{
          getEditSave(this.form).then(response =>{
            if(response.data.result == '1'){
              this.$message({
                message: response.data.msg,
                type: 'success'
              });
              this.dialogVisible = false;
              this.getData();
            }else{
               this.$message.error(response.data.msg);
            }
        })
        this.form = {
          urlList:[],
        };
        this.pic = [];
        }
        
      },
      //编辑
      edit(row){
        this.sure = false;
        this.view  = true;
        this.form = {
          urlList:[],
        };
        this.pic = [];
        this.dialogVisible = true;
        getEdit(row.id).then(response =>{
          this.form =  response.data.data;
          this.form.urlList =  response.data.data.urlList;
        })
       
      },
      //查看
      show(row){
        this.sure = true;
        this.view = false;
        this.dialogVisible = true;
        getEdit(row.id).then(response =>{
          this.form =  response.data.data;
        })
      },
      //删除
      deleteData(id){
        getDelete(id).then(response =>{
          if(response.data.result == '1'){
              this.$message({
                message: response.data.msg,
                type: 'success'
              });
              this.dialogVisible = false;
              this.getData();
            }else{
               this.$message.error(response.data.msg);
            }  
        })
      },
      getData() {
            getList(this.searchValue).then(response =>{
              this.tableData = response.data.data.content;
              this.totalCount=response.data.data.totalSize;
            })
      },
          // 分页每页条数改变
      handleSizeChange(pageSize) {
        this.searchValue.pageSize=pageSize;
        this.getData();
      },
      // 分页当前页数改变
      handleCurrentChange(pageNum) {
        this.searchValue.pageNum=pageNum;
        this.getData()
      },
    },
    }
</script>
<style lang="scss">
.back{
  .el-menu{
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      background: #87CEFA;
      z-index: 99;
      width: 120px;
  }
  .menuData{
    width: calc(100% - 120px);
    position: absolute;
    right: 0;
  }
  .el-tooltip{
    padding: 0px 15px !important;
  }
  .title{
        width: 100%;
        height: 100px;
        background: #87CEEB;
        line-height: 100px;
        font-size: 40px;
        font-weight: 500;
        color: #fff;
        text-align: center;
    }
    .page{
      text-align: center;
      margin-top: 20px;
    }
}

</style>

